.App {
  text-align: center;
}

.myPage{
  display: flex;
}

.SideBar{
  width: 20%;
  height: 100vh;
  background-color: deepskyblue;
  background-image: url(./images/gandex.ru-18509_6e37e56a65bafc94570830cc553a664f.jpg);
  border: 1px solid deepskyblue;
  display: flex;
  flex-direction: column;
}

.Header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10%;
  /*border: 1px solid red;*/
}

hr{
  width: 80%;
  color: grey;
}

.App-logo{
  width: 25%;
  height: 25%;
  /*border: 1px solid red;*/
 /* margin: 3%;*/
}

.button{
  width: 80%;
  display: flex;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
  padding: 10%;
  /*border: 1px solid red;*/
}

.Component{
  width: 80%;
  background: beige;
}

.inComponent{
  height: 90vh;
  margin: 5%;
}

.firstLine{
  /*margin: 5%;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signWindow{

  flex-direction: column;
  margin-top: 5%;
  padding-top: 5%;
  background-color: #ffffff;
  border-radius: 1vh;
  position: relative;
}

.signHeader{
  background-color: #CD00CD;
  border-radius: 0.3vh;
  width: 86%;
  position: absolute;
  top: -2vh;
  left: 7%;
  color: #ffffff;
  height: 10vh;
  line-height: 0.7;
}

.signBody{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10%;

}

.stringData{
  display: flex;
  flex-direction: row;
  align-items: center;
  /*overflow: auto;
  max-height: 300px;*/
}

.blockStrings{
  overflow: auto;
  max-height: 300px;
}

.signUpLink{
  color: #CD00CD;
}

.footerIn{
  position: absolute;
  left: 25%;
  bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}

.footerInlinks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}

.link{
  text-decoration: none;
}

.measurementType{
  width: 100px;
}

select{
  size: 3;
}

.myDashboardPage{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myDashboardPage a button{
  width: 400px;
  margin: 0;
}

.myButton{
  margin:5px 2px;
  border-radius: 3px;
  border: 1px solid #00C5CD;
}

.illumination{
  background-color: #00C5CD;
}

.myButton div{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
.MuiButtonBase-root-28{
  float: left;
}*/
